## Learn Basic Python
to learn basic python from the very beginning, not to get the job but for brain training

**1. Python Dictionary**  
we are going to learn about python dictionary, it's a ***key-value*** pair python data structure
characterictics: 
- key-value pair
- store data

variable operation
- creating varible
- type variable 
- calculation variable
- function with 
exercise

In [52]:
title = 'Firt data of data training'

import dataframe

In [53]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('dataset/imdb_top_1000.csv')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [54]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [66]:
df.isnull().sum()
df.dropna(inplace=True)
df.isna().sum()
df_by_gross = df[['Series_Title', 'Gross']]
df_by_gross.sort_values(by='Gross', ascending=False)
# df_by_gross[df_by_gross['Gross'] > 50000000]
# nothing to be compare with us, and become something that being possible of nothing here
df_by_gross
df_by_gross['Gross'] = df_by_gross['Gross'].str.replace(',','').astype(int)
df_by_gross.sort_values(by='Gross')

/tmp/ipykernel_33117/3094494339.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_by_gross['Gross'] = df_by_gross['Gross'].str.replace(',','').astype(int)

                                   Series_Title      Gross
630                                 Adams æbler       1305
624                                  Mr. Nobody       3600
356                              Tropa de Elite       8060
190                               All About Eve      10177
187                           Dial M for Murder      12562
..                                          ...        ...
652                                     Titanic  659325379
60                       Avengers: Infinity War  678815482
623                                      Avatar  760507625
59                            Avengers: Endgame  858373000
477  Star Wars: Episode VII - The Force Awakens  936662225

[714 rows x 2 columns]